<div class="container">
  <div class="row justify-content-center">
    @if (roles.length > 0) {
      <div class="col-md">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nazwa</th>
          </tr>
          </thead>
          <tbody>
            @for (role of roles; let i = $index; track i) {
              <tr (click)="showMoreInfo(role)">
                <td>{{ i + 1 }}</td>
                <td>{{ role.name }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <p class="text-primary">Lista jest pusta</p>
    }
  </div>
  @if (lastLoadedPageSize == 10) {
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <button class="btn btn-dark" (click)="loadMore()">Załaduj więcej</button>
      </div>
    </div>
  }
</div>

