<div class="container p-0 mt-4">
  <div class="modal-header">
    <h5>Przypisane permisje do roli:</h5>
  </div>
  <div class="row mt-2">
    @if (!clicked){
      <div class="col-md">
        <button class="btn btn-success w-100" (click)="showPermissions()">Dodaj permisję</button>
      </div>
    } @else {
      <div class="col-md">
        <app-add-permissions-to-role [assignedPermissionNames]="rolePermissionNames" (selectedPermissionsEmitter)="addPermissions($event)"></app-add-permissions-to-role>
      </div>
    }
  </div>

  <div class="row mt-4">
    @for(rolePermission of rolePermissionNames; let i=$index; track i){
      <div class="col-md-10 border-1 rounded-2">
        {{rolePermission}}
      </div>
      <div class="col-md-2">
        <button (click)="removePermission(rolePermission)" class="btn btn-danger">Usuń</button>
      </div>
    }
  </div>

</div>
