<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-10 text-center p-0 m-3">
      <a routerLink="employees">Zarządzanie pracownikiem</a>
    </div>
    <div class="col-md-10 text-center p-0 m-3">
      <a routerLink="roles">Zarządzanie uprawnieniami</a>
    </div>
    <div class="col-md-10 text-center p-0 m-3">
      <a routerLink="clients">Zarządzanie klientami</a>
    </div>
    <div class="col-md-10 text-center p-0 m-3">
      <a routerLink="reports">Raporty</a>
    </div>
  </div>
</div>
